body {
  background: url(background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}
.App {
  display: flex;
  justify-content: space-around;
}
.btn-add{
  background-color: #77cf40;
  padding: 20px;
  border: none;
  border-radius: 20px;
  font-size: 17px;
}
.btn-delete {
  border: 0;
  background: none;
  color: red;
  font-weight: bolder;
}
h1 {
  background-color: #dcedf7;
  padding: 15px;
  border-radius: 20px;
}
h2 {
  color: #FFFFFF;
  font-size: 25px;
}
.whole-plan {
  width: 60%;
  height: 100vh;
}
.myInput {
  display: block;
  width: 70%;
  height: 20px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
}
textarea {
  display: block;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 20px;
  margin-top: 30px;
  width: 70%;
  height: 200px;
}
.selected {
  background-color: #fad106;
}
.default {
  background-color: #dcedf7;
}